@import "tailwindcss";
/* Custom Theme Variables */
/* :root {
  --primary-green: #1E6F5C;
  --accent-blue: #3B9AE1;
  --soft-cream: #F8F9FA;
  --font-family: 'Poppins', sans-serif;
} */

:root {
  --primary-green: #3A9679;
  --accent-blue: #3BB9D1;
  --accent-yellow: #FACC15;
  --soft-green-bg: #c0f3d7;
  --soft-blue-bg: #b5e9f3;
  --soft-cream: #f1f1b9;
}
html,body{
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}
#root{
  width:100%;
  height: 100%;
}
body {
  background-color: var(--soft-green-bg);
  font-family: 'Inter', sans-serif;
}
/* body {
  @apply bg-[var(--soft-cream)] text-gray-800 font-sans;
  font-family: var(--font-family);
} */

.nav-link {
  @apply hover:text-[var(--primary-green)] transition;
}

.btn-primary {
  @apply px-6 py-3 rounded-full text-white font-semibold shadow-md transition;
  background-color: var(--accent-blue);
}

.btn-primary:hover {
  background-color: var(--primary-green);
}

/* Fix Swiper Pagination Position */
.swiper-pagination {
  margin-top: 0.5rem !important;
  padding-top: 0 !important;
}

.swiper-pagination-bullet {
  background-color: #16a34a; /* ye --primary-green ka default color hai */
  opacity: 0.7;
  transition: all 0.3s ease;
}

.swiper-pagination-bullet-active {
  background-color: #16a34a;
  opacity: 1;
  transform: scale(1.2);
}

@keyframes slideDown {
  0% { transform: translateY(-10%); opacity: 0; }
  100% { transform: translateY(0); opacity: 1; }
}

.animate-slide-down {
  animation: slideDown 0.3s ease-out forwards;
}
